<h1>Is this the right face?</h1>

<img src="<%= @filepath.fetch(:face) %>"/>

<br/>

Extracted
<img src='<%= @filepath.fetch(:avatar) %>'>

features
<img src='<%= @filepath.fetch(:face_features) %>'>

<h2> Best Matches </h2>
<ol>
  <% @similar_faces.first(5).each do |face, distance| %>
    <li><img src='faces/<%= face %>'/> <%= distance %></li>
  <% end %>
</ol>

<h2> Worst Matches </h2>
<ol>
  <% @similar_faces.last(5).each do |face, distance| %>
    <li><img src='faces/<%= face %>'/> <%= distance %></li>
  <% end %>
</ol>